body{
    overflow-x: hidden
}

nav ul {
    display: flex;
    list-style: none;
    background-color: #e3f2fd;
    margin: 0;
    padding: 2% 2% 0;
    top: 0;
    width: 100vw;
    justify-content: space-evenly;
    position: relative;
}

ul li a {
    text-decoration: none;
    color: #2196f3;
    font-weight: bold;
    font-size: 1.3rem;
}
hr {
    width: 0;
    transition: width 0.15s ease-in;
    margin-bottom: 0;
    position: relative;
    bottom: 0;
}

.activeLink~hr{
    height: 3px;
    background-color: #0d47a1;
    width: 100%;
}

button {
    border: 1px solid #333;
    border-radius: 3px;
    padding: 5px;    
    margin: 2px;
}
.producto {
    font-size: 16px;
    font-weight: bold;
    
}
.contador {
    box-sizing: border-box;
    width: 10px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    margin-left: 5px;
}

.tarjeta {
    margin: 15px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 25px;
}

.comprar {
    box-sizing: border-box;
    width: 10px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    margin-left: 5px;
}
